<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home"></ion-back-button>
		</ion-buttons>

		<ion-title>Acerca De</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<ion-card>
		<img src="assets/images/hackers.svg">
		<ion-card-header>
			<ion-card-subtitle>Desarrollador</ion-card-subtitle>
			<ion-card-title>p1w1</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<p>Dead of Winter Companion App.</p>
			<p>Si te resultó útil puedes apoyarme con cualquier donación para que pueda seguir desarrollando este tipo de aplicaciones.</p>

			<div style="margin-top: 5px; text-align: right">
				<ion-button fill="clear" href="https://github.com/elaporta" target="_blank">
					<ion-icon name="logo-paypal" slot="start"></ion-icon>
					<ion-label>Paypal</ion-label>
				</ion-button>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
